<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="container">
      <h1>{{ page.title | escape }}</h1>
      {% if page.quote %}
        <div class="col-sm-8">
          {{ content }}
        </div>
        <div class="col-sm-4">
          <blockquote>{{ page.quote}}</blockquote>
          <cite>{{ page.cite }}</cite>
          {% include social.html %}
        </div>
      {% else %}
        {{ content }}
        {% include social.html %}
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>
